section.row.main-slider
    .slide-itm(style="background-image: url(uploads/slide_1.png)")
        //- .slide-ct
        //-     a(href="#")
        //-         h3 THE SUN AVENUE
        //-         .desc
        //-             p Mặt tiền Đại lộ Mai Chí Thọ, P.An Phú, Quận 2, Tp HCM. Thương mại Văn phòng và Dịch vụ. 46.715m². 28-30 tầng. Hồ bơi, phòng tập gym, phòng sauna, nhà hàng, sân vườn, thương mại...
        //-         span
        //-             i.fa.fa-long-arrow-right
